@mixin image($url){
    background-image: url($url);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }

}